@use "../../styles/settings/_settings" as *;

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 9px 28px;
    border-radius: 999px;
    gap: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.35s ease;
    border: 1.6px solid transparent;

    .label {
        font-family: var(--font-satoshi);
        transition: all 0.35s ease;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0%;
        font-weight: 500;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 26px;
        line-height: 1;

        transition: all 0.35s ease;
    }

    @media (max-width: 768px) {
        padding: 7px 24px;

        .label {
            font-size: 16px;
        }

        .icon {
            font-size: 20px;
        }
    }
}

/* ========================= */
/* GREEN */
/* ========================= */

.primary {
    background: $primary;
    border-color: #55925D;
    color: #ffffff;

    &:hover {
        background: transparent;
        color: $primary;
        border-color: $primary;
    }
}

/* ========================= */
/* GOLD */
/* ========================= */

.gold {
    background: $secondary;
    border-color: #B48C3E;
    color: #ffffff;

    &:hover {
        background: transparent;
        color: $secondary;;
        border-color: $secondary;
    }
}

/* ========================= */
/* WHITE */
/* ========================= */

.white {
    background: #ffffff;
    border-color: #CCCCCC;
    color: #151515;

    &:hover {
        background: transparent;
        color: #ffffff;
        border-color: #ffffff;
    }
}

.white_outline {
    background: transparent;
    border-color: #ffffff;
    border-width: 1.2px;
    color: #fff;

    &:hover {
        background: transparent;
        color: #ffffff;
        border-color: #ffffff;
    }
}

/* ========================= */
/* BLACK */
/* ========================= */

.black {
    background: $ternary;
    border-color: #333333;
    color: #ffffff;

    &:hover {
        background: transparent;
        color: $ternary;
        border-color: $ternary;
    }
}