@use "../../styles/settings/_settings" as *;

.faq_section {
  padding: 60px 0;
  border-bottom: 0.6px solid #151515;

  .faq_heading {
      margin-bottom: 42px;

      .sub_heading_wrapper {
          display: flex;
          align-items: center;
          gap: 14px;
          margin-bottom: 16px;

          .sub_heading {
              color: #666666;
          }

          .line {
              width: 58px;
              height: 1px;
              background: #cfc7b7;
          }
      }

      .faq_title {
          color: #171717;
      }
  }

  .faq_list {
      display: flex;
      flex-direction: column;
  }

  .faq_item {
      border-top: 0.6px solid #151515;

      &:last-child {
          border-bottom: 0.6px solid #151515;
      }
  }

  .faq_question {
      width: 100%;

      background: transparent;
      border: none;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      padding: 24px 0;

      cursor: pointer;
      text-align: left;
  }

  .question_text {
      color: #151515;
  }

  .icon {
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;
  }

  .faq_answer {
      padding: 0 0 24px;

      max-width: 1050px;

      p {
          color: #151515;
      }
  }

  @media (max-width: 768px) {
      padding: 48px 0;

      .faq_heading {
          margin-bottom: 30px;

          .sub_heading_wrapper {
              margin-bottom: 14px;

              .line {
                  width: 40px;
              }
          }
      }

      .faq_question {
          padding: 16px 0;
          align-items: flex-start;
      }

      .faq_answer {
          padding: 0 0 16px;

          max-width: 100%;
      }
  }
}