@use "../settings/_settings" as *;

// .blogListingSec {
//   .blogListing {
//     display: flex;
//     // justify-content: space-between;
//     gap: 30px;
//     flex-wrap: wrap;

//     .blogListingCard {
//       width: calc(33% - 20px);
//     }
//   }

//   @media (max-width: 768px) {
//     .blogListing {
//       flex-wrap: wrap;
//       .blogListingCard {
//         width: 100%;
//       }
//     }

//   }
// }

.single_blog {
  display: flex;
  gap: 30px;

  .single_blog_left {
    width: 70%;
    h1 {
      margin-bottom: 20px;
    }

    .blog_content {
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        display: block;
        object-position: center;
      }

      h2,
      h3,
      h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 600;
        // color: $title-color;
      }


      h2 {
        font-size: 30px;
        font-weight: 400;

        strong {
          font-weight: 500;
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 400;

        strong {
          font-weight: 500;
        }
      }

      p {
        margin-bottom: 1.5rem;
      }

      ul,
      ol {
        margin: 10px 0;
        padding-left: 2rem;

        li {
          margin-bottom: 0.5rem;
        }
      }

      a {
        color: #007b5e;
        text-decoration: underline;

        &:hover {
          color: #005f48;
        }
      }
    }
  }

  .single_blog_right {
    width: 30%;
    position: sticky;
    top: 70px;
    height:fit-content;

    .sidebar_title {
      font-size: 1.4rem;
      font-weight: 600;
    //   color: $title-color;
      margin-bottom: 1rem;
      border-bottom: 2px solid #eee;
      padding-bottom: 0.5rem;
    }
  
    .sidebar_blogs {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .sidebar_blog_card {
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        background: #fafafa;
        padding: 0.6rem;
        transition: all 0.3s ease;
        border: 1px solid #eee;
  
        &:hover {
          background: #f0f8f6;
        }
  
        img {
          width: 80px;
          height: 70px;
          object-fit: cover;
          flex-shrink: 0;
        }
  
        .sidebar_blog_title {
          color: #333;
          font-size: 0.95rem;
          line-height: 1.3;
          font-weight: 500;
          margin: 0;
  
          &:hover {
            color: #007b5e;
          }
        }
      }
    }
  }



  @media (max-width: 768px) {
    flex-wrap: wrap;
    .single_blog_left {
      width: 100%;

      .blog_content {
        img {
          width: 100%;
          height: 100%;
        }
  
        h2,
        h3,
        h4 {
          margin-top: 16px;
          margin-bottom: 10px;
        //   color: $title-color;
        }
  
        h2 {
          font-size: 26px;
          font-weight: 400;
  
          strong {
            font-weight: 500;
          }
        }
  
        h3 {
          font-size: 22px;
          font-weight: 400;
  
          strong {
            font-weight: 500;
          }
        }
  
        p {
          margin-bottom: 10px;
        }
  
        ul,
        ol {
          margin: 10px 0;
          padding-left: 14px;
  
          li {
            margin-bottom: 0.5rem;
          }
        }
  
        a {
          color: #007b5e;
          text-decoration: underline;
  
          &:hover {
            color: #005f48;
          }
        }
      }
    }
    .single_blog_right {
      width: 100%;
    }
  }
}

.single_blog_banner {
  background: #111;
  height: 150px;
}