@use "settings/__settings" as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: var(--font-marcellus);
  --font-body: var(--font-inter);
}

html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: #FFFBF0;
  font-family: "Inter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", serif;
  font-weight: 200;
}

p {
  font-family: "Inter", serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.common_margin {
  margin: 80px 0px;

  @media (max-width: 768px) {
    margin: 50px 0px;
  }
}

.text_center {
  text-align: center;
}

.m_0 {
  margin: 0;
}