.blogCard {
    width: calc(50% - 20px);
    display: flex;
    gap: 20px;
    align-items: center;

    .imageWrapper {
        position: relative;
        width: 50%;
        height: 200px;
        border-radius: 12px;
        overflow: hidden;
        flex-shrink: 0;

        .image {
            object-fit: cover;
        }
    }

    .content {
        width: 50%;

        .date {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            color: #6f6f6f;
            margin-bottom: 12px;
        }

        .dot {
            font-size: 10px;
        }

        .title {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 16px;
            font-weight: 500;
        }

        .readMore {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
            border-bottom: 1px solid #000;
            padding-bottom: 4px;
            width: fit-content;

            &:hover {
                opacity: 0.7;
            }
        }

    }
}

/* Responsive */
@media (max-width: 1024px) {
    .blogCard {
        width: 100%;
        flex-direction: column;

        .imageWrapper {
            width: 100%;
            height: 200px;
        }
        .content {
            width: 100%;
    
            .title {
                font-size: 20px;
            }
    
            .readMore {
                font-size: 12px;
            }
    
        }
    }
}