@use "../../styles/settings/_settings" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #F7F7EF;
}

/* ========================= */
/* TOP BAR */
/* ========================= */

.top_bar {
  border-bottom: 0.6px solid #151515;
}

.top_bar_grid {
  // height: 86px;
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  align-items: center;
}

.tagline {
  color: #1B1B1B;
  font-family: var(--font-mono);
}

.logo {
  display: flex;
  justify-content: center;
}

.whatsapp_btn {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

/* ========================= */
/* BOTTOM BAR */
/* ========================= */

.bottom_bar {
  border-bottom: 1px solid #cfc7b7;
}

.desktop_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 16px 0;

  a {
    font-family: var(--font-mono);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 8%;
    text-transform: uppercase;
    transition: 0.3s ease;
    color: #151515;

    &:hover {
      opacity: 0.6;
    }
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */

.menu_btn {
  display: none;

  background: transparent;
  border: none;

  width: 32px;
  height: 32px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  span {
    width: 80%;
    height: 2px;
    background: #1B1B1B;
  }
}

.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 460px;
  height: 100vh;
  background: #2F4C33;
  z-index: 1000;
  padding: 20px 20px 48px 20px;
  transform: translateX(-100%);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}

.show {
  transform: translateX(0);
}

.mobile_menu_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.close_btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    font-family: var(--font-satoshi);
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0%;
  }
}

.mobile_bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  h4 {
    color: #fff;
    margin-bottom: 8px;
  }

  a {
    color: #fff;
    font-family: var(--font-satoshi);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
  }

  .mobile_socials {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 992px) {

  .tagline,
  .desktop_nav,
  .whatsapp_btn {
    display: none;
  }

  .bottom_bar {
    display: none;
  }

  .top_bar_grid {
    grid-template-columns: auto auto;
    justify-content: space-between;
    height: 92px;
  }

  .menu_btn {
    display: flex;
  }

  .logo img {
    width: 177px;
    height: 36px;
  }
}